/* ---------- Pagina contacto ----------*/
.gridContacto{
    @include grillaBase(repeat(5,1fr),repeat(2,1fr));
    column-gap: 10%;
    row-gap: 5%;
    margin-bottom: 10%;
    padding-top:5%;
    padding-bottom:5%;
}
.entrada{
    width:95%;
    outline: none;
    border:none;
    font-family: $fuentePrincipal, cursive;
    font-size:large;
    
}
.botonForm{
    width:125px;
    background-color: map-get($colores,"colorSecundario");
    color: map-get($colores,"colorTerciario");
    &:hover{
        background-color: map-get($colores,"colorPrimario");
        color: map-get($colores,"colorSecundario");
        transition:0.3s;
    }
}

.terminarForm{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
