/* ---------- Pagina index ----------*/
.informacionImagen{
    width:35%;
}

.cuadroFecha{
    background-color:map-get($colores,"colorPrimario");
    font-weight:100%;
    font-size:x-large;
    padding: 0px 10%;
    text-align: center;
}
.calendario{
    display:grid;
    grid-template-columns: 18% 70%;
    grid-auto-rows: 1fr;
    row-gap: 5%;
    column-gap: 5%;
}
.contenedorCalendario{
    overflow-y: auto;
}
.bigButtonMatricula{
    background-color: map-get($colores,"colorSecundario");
    border-radius: 20px;
    height:30%;
    width:70%;
    padding:0px 15px;
    transform:rotate(-3deg);
    p{
        color: map-get($colores,"colorTerciario");
        font-size: x-large;
        font-size: 130%;
        text-align: center;
    }
}
.carruselMiniatura{
    margin:auto;
}
