$fuentePrincipal: 'Baloo 2';
$colores:(
    "colorPrimario": #FFDF2B,
    "colorSecundario": black,
    "colorTerciario": #eeeeee,
    "colorFontNav": #6D5F12
);
@mixin grillaBase($filas,$columnas){
    display:grid;
    grid-template-rows: $filas;
    grid-template-columns: $columnas;
}